<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chip1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,714},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,618},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,320},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,320},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,714},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,822},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,320},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,910},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,720},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,214},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,214},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,812},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,618},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,214},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,714},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,522},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,108},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,108},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,426},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,618},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,522},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,108},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,426},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,618},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,522},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,426},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip8_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,924},{96,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{96,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip8_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,522},{100,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip8_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip8_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>chip8_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{102,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chip.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007e4e1a5bf8fc2f98f2f2ee3e249e9f$</string>
            <key>textureFileName</key>
            <string>chip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
